        body {
            background-color: rebeccapurple;
            font-family: sans-serif;
        }

        ul {
            font-family: sans-serif;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: mediumpurple;
             display: block;
            margin-right: auto;
            margin-left: auto;
                        

        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: black;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: lightgoldenrodyellow;
            color: black;
        }

        img {
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
        }

        footer {
            font-size: 75%;
        }